 body {
   margin: 0;
   padding: 0;
   font-family: "PT sans", "Arial", sans-serif;
   font-size: 13px;
    font-weight: 400;
   line-height: 17px;
   color: #000000;
   background-color: #ffffff;

 }

 .midpanel h1 {
   font-family: 'Cuprum', "Arial", sans-serif;
   font-size: 16px;
   line-height: 23px;
   color:#ee3643;
   font-style: italic;
 }

 a {
   text-decoration: none;
 }

 .visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden{
   position: absolute;
   width: 1px;
   height: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path:inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.header-top-panel a {
  font-family: 'Cuprum','Arial', sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}
.logo-header {
  font-family: 'Cuprum','Arial', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color:#ee3643 ;
}
.logo-header:hover {
background-color:#ca2c37 ;
}
.logo-header:active {
background-color:#ba2732 ;
}
.top-panel-bookmarks:hover,
.top-panel-busket:hover{
  background-color: #212a3a;
}
.top-panel-bookmarks:active,
.top-panel-busket:active{
  background-color: #161d29;
}
.top-panel-order{
  background-color: #63a63e;
}
.top-panel-order:hover{
  background-color: #5fbb2d;
}
.top-panel-order:active{
  background-color: #518534;
}
 .main-page,
 .header-inner-page  {
   width: 100%;
   background-color: #293449;
 }

 .container {
   display: flex;
   width: 940px;
   padding: 0 10px;
   margin: 0 auto;
 }

.user-block .user-block-btn {
   font-family: 'Cuprum','Arial', sans-serif;
   color: #000000;
   font-size: 21px;
   line-height: 21px;
 }
 .user-block-btn:hover {
   color: #ee3643;
 }
 .user-block-btn:active {
color: #000000;
   opacity: 0.3;
 }

 .midpanel {
 font-family: 'Cuprum', 'Arial', sans-serif;
   display: flex;
 }
 .midpanel .telnumber {
   font-size: 17px;
   line-height: 18px;
   color: #ee3643;
 }
 .midpanel p {

   font-size: 14px;
   line-height: 24px;
   color: #32425c;
 }
 .midpanel a {
   background: :#ffffff;
   color: #000000;
 }

 .navigation-list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   background-color: #293449;
   margin-bottom: 40px;
 }

 .navigation-list a {

   color: #ffffff;
   font-family: 'Cuprum', 'Arial', sans-serif;
   font-size: 17px;
   line-height: 17px;
 }
.navigation-list a:hover {
  background-color:#293449;
}
.navigation-list a:active {
  background-color:#1d2739;
  opacity: 0.5;
}
 .header-backg {
   background-color: #f2f6f8;
   width: 100%;
 }


.promo-title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 30px;
}
 .promo-tag {
   width: 300px;
   height: 123px;
   margin-right: 20px;
   color: #ffffff;
 }
.promo-tag a {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.btn-promo{
  background-color: rgba(0,0,0,0.1);
}
.btn-promo:hover{
  background-color: #cccccc;
}
.btn-promo:active{
  background-color: #b2b2b2;
}
 .promo-tag-orange {
   background-color: #ffbf47;
   background-image:  url("../img/icon-1.svg");
   background-repeat: no-repeat;
   background-position: 80% 50%;
 }

 .promo-tag-blue {
   background-color: #3bbce3;
   background-image:  url("../img/icon-2.svg");
   background-repeat: no-repeat;
   background-position: 80% 50%;
 }

 .promo-tag-purple {
   background-color: #dc91d8;
   background-image:  url("../img/icon-3.svg");
   background-repeat: no-repeat;
   background-position: 80% 50%;
 }

 .promo-tag-green {
   background-color: #8ed78f;
   background-image:  url("../img/icon-4.svg");
   background-repeat: no-repeat;
   background-position: 80% 50%;
 }
.slider-title {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  /* font-weight: bold; */
  text-transform: uppercase;
}
.slider-promo p {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.btn-red  {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}
.btn-red:hover{
  background-color: #ca2c37;
}
  .btn-red:active{
    background-color: #ba2732;
  }
 .slider1 {
   background-image: url("../img/offer-slider-perforator.jpg");
   height: 266px;
   width: 620px;
    background-size: 620px 266px;


 }

 .slider2 {
   background-image: url("../img/offer-slider-drill.jpg");
   background-size: 620px 266px;
   height: 266px;
   width: 620px;
 }
 .promo-left-column {
   width: 621px;
   margin-right: 20px;
 }

 .popular-goods-content, .popular-producers div {
   background-color: #f9f5f0;
   /* font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px; */
   display: flex;
   justify-content: space-between;
 }

 .popular-goods-list {
   list-style: none;
 }
main h2 {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
 .popular-item {
   width: 220px;
   height: 320px;
   border: 2px solid #eaeaea;
 }
 .popular-item:hover {
box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
 }
 .popular-producers-item:hover {
box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
 }
 .popular-producers-item:active {
box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
opacity: 0.5;
 }

 .popular-goods-content a, .popular-producers a {
   font-family: 'Cuprum', sans-serif;
   font-size: 14px;
   line-height: 18px;
 }
.btn-to-buy,
.btn-to-bookmarks {
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

 .popular-goods {
   font-family: "PT sans", sans-serif;


 }
.popular-item h3 {
  font-size: 18px;
  line-height: 20px;
}
.popular-item span {
  font-size: 17px;
  line-height: 18px;
}

 .popular-producers-list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   list-style: none;
   flex-wrap: wrap;
 }
 .popular-item-old-price{
   color: #a9a9a9;
   text-decoration:line-through;
 }
 .popular-item-new-price {
   color: #ffffff;
   font-weight: bold;
   background-color: #ee3643;
 }

 .popular-producers-item {
   width: 220px;
   height: 146px;
   border: 2px solid #eaeaea;
 }

 .services {
   background-color: #f4f7f9;
 }
 .services p {

   line-height: 24px;
 }

 .services .container {
   display: flex;
   justify-content: space-between;
 }

 .services ul, .cargo-list {
   list-style: none;
 }

 .services h3 {
   font-family: 'Cuprum', sans-serif;
   font-size: 36px;
   line-height: 36px;
 }
 .left-column label {
   font-family: 'Cuprum','Arial', sans-serif;
   font-size: 21px;
   line-height: 30px;
   font-weight: bold;
   color: #ffffff;
   background-color:#32425c ;
 }
 .left-column label:hover {
   background-color: #293449;
 }
 .left-column label:active {
   background-color: #ffffff;
   color: #32425c;
 }
 .slider3-active-label {
   background-color: #ffffff;
   color: #32425c;
 }
.about-where h2 {
  color: #000000;
}
.cargo-company {
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;

}
 .about-where {
   display: flex;
   justify-content: space-between;
 }

 .main-page-footer,
 .inner-page-footer {
   font-family: 'Cuprum', sans-serif;
   font-size: 18px;
   line-height: 24px;
   color: #ffffff;
   background-color: #32425c;
 }

 footer ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
 }
.logo-footer {
  font-size: 30px;
  line-height: 30px;
}
 .footer-category-menu a {
   color: #ffd180;
 }

 .footer-down-panel {
   background-color: #293449;
 }

 .footer-content {
   display: flex;
 }
 .footer-content p {
   font-size: 16px;
   line-height: 18px;
 }
 .footer-down-panel a {
   color: #ffd180;
 }
.footer-menu a{
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-menu a:hover,
.footer-category-menu a:hover{
  text-decoration: underline;
}
.footer-menu a:active,
.footer-category-menu a:active{
  opacity: 0.5;
}
.footer-address a{
  color:#ffffff;
}
.footer-down-links a:hover {
  text-decoration: underline;
}
.footer-down-links a:active {
  color: #ee3643;
}
.write-to-us label{
  font-family: 'Cuprum',"Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;

}
.write-to-us input[placeholder] {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
}
.write-to-us textarea {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
}
.user-block .client-name {
  font-family: 'Cuprum',"Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.user-block ul {
  list-style: none;
}
.user-block  a{

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.breadcrumbs  {
  list-style: none;
  display: flex;
}
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

}
.inner-h1 {
  font-size: 30px;
  line-height: 30px;
  color:#32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-weight: 500;
}
.sorting-title {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   font-weight: 400;
  line-height: 18px;
  color: #000000;
  background-color: #f7f3ec;
}
.sorted-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.price-range input{
background-color: #f7f3ec;
}
.sorting-line {
background-color: #f7f3ec;
}
.hidden-btn span {
  font-family: 'Cuprum';
  font-size: 14px;
  line-height: 18px;
}
.focus-popular-item button {
  display: block;
  text-align: center;

}
.filter-btn {
  color: #000000;
  background-color: #ffffff;
  border:2px solid #e5e5e5;
  border-radius: 1px;
text-transform: uppercase;
   text-decoration: none;
   font-family: "PT sans";
   font-size: 13px;
   line-height: 18px;
}
.btn-to-buy {
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 1px;
  }
  .btn-to-bookmarks {
    color: #000000;
    background-color: #ffffff;
    border:2px solid #63a63e;
    border-radius: 1px;


     text-decoration: none;

    }


.brands-sorting-title,
.charge  {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 17px;
   font-weight: bold;
  line-height: 30px;
  background-color:#ffffff;
  color: #000000;
}
.about-sorted-items h2 {
  color: #000000;
}
.pagination-list {
  list-style: none;
  display:flex;
}
.pagination-item a {

  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   line-height: 18px;
  background-color:#ffffff;
  color: #000000;
}
.pagination-list .active-page {
  color:#ffffff;
  background-color: #ee3643;
}
.about-sorted-items p{
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   line-height: 24px;

  color: #000000;
}
.about-sorted-items {
background-color:#f2f6f8;
}
.sorting-attribute label {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 15px;
   line-height: 20px;
  background-color:#ffffff;
  color: #000000;
}
fieldset {
   border:0 none;
}
.sorting-list{
  list-style: none;
  display: flex;
}
.sorting-item a {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 13px;
   line-height: 18px;
  background-color:#ffffff;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: underline;
  text-decoration-style:dotted;
  text-decoration-color: #ee3643;
}

.sorting-item .active-sorted {
color:#ee3643;
text-decoration:none;
}
.sorting-item a:hover {
  color: #000000;
  text-decoration-style:solid;
}
.sorting-item a:active {
  color:#ee3643;
  text-decoration:none;

}
